<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/navigation.css">
    <link rel="stylesheet" href="css/price_calc.css">
     <link rel="stylesheet" href="css/metric.css">
     <link rel="stylesheet" href="css/app.css">
</head>


<body>

  <h1 class="display-4 mb-4 mt-4"><center>Dashboard</center></h1>


    <div class="container">
        <div class="nav-wrapper">
           
        </div>
    </div>

    <table class='margin-top-xl'>
        <thead>
            <tr>
                <th> Page </th>
                <th> Total Visitors </th>
                <th> Unique Vistors </th>
            </tr>
        </thead>
        <tbody>
            {% for metric in metrics %}
            <tr>
                <td> {{metric[0]}} </td>
                <td> {{metric[1]}} </td>
                <td> {{metric[2]}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


 <div class="navigation">
      <a href="/"> Home Page </a>
      <a href="/signup"> Registration </a>
      <a href="/login">Login</a>
      <a href="/pricing"> Pricing Page </a>
      <a href="/features"> Features </a>
      <a href="/about"> About us </a>
 </div>



<div class='imgcontainer'>
    <p>We generate revenue using advertising, fee-for-service, and commission revenue model.</p>
</div>

  <footer>
  
      <p>Created by Ehsan Ziaei - April 2020</p>

  </footer>




</body>

</html>