<!-- Contenedor -->
	
  <link rel="stylesheet" href="css/pricing_page.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/navigation.css">
  <link rel="stylesheet" href="css/price_calc.css">
  <link rel="stylesheet" href="css/metric.css">

  
  <div class="pricing-wrapper clearfix">

		<!-- Titulo -->
		<h1 class="pricing-table-title">How much does a tutor cost? <a href="http://www.tritontutors.com">TritonTutors.com</a></h1>

		<div class="pricing-table">
			<h3 class="pricing-title">Free</h3>
			<div class="price">$0<sup>/ dollars</sup></div>
			<!-- Lista de Caracteristicas / Propiedades -->
			<ul class="table-list">
				<li>option1<span>option2</span></li>
				<li>option1<span>option2</span></li>
				<li>option1<span>option2</span></li>
				<li>option1<span class="unlimited">option2</span></li>
				<li>option1<span class="unlimited">option2</span></li>
				<li>option1<span>option2</span></li>
			</ul>
			<!-- Contratar / Comprar -->
			<div class="table-buy">
				<p>$0<sup>/ dollars</sup></p>
				<a href="#" class="pricing-action">Get</a>
			</div>
		</div>

		<div class="pricing-table recommended">
			<h3 class="pricing-title">Private Tutor</h3>
			<div class="price">$20-30<sup>/ dolars</sup></div>
			<!-- Lista de Caracteristicas / Propiedades -->
			<ul class="table-list">
				<li>option1<span>option2</span></li>
				<li>option1<span>option2</span></li>
				<li>option1<span>option2</span></li>
				<li>option1<span class="unlimited">option2</span></li>
				<li>option1<span class="unlimited">option2</span></li>
				<li>option1<span>option2</span></li>
			</ul>
			<!-- Contratar / Comprar -->
			<div class="table-buy">
				<p>$20-30<sup>/ dollars</sup></p>
				<a href="#" class="pricing-action">Get</a>
			</div>
		</div>

		<div class="pricing-table">
			<h3 class="pricing-title">Private Group Tutor</h3>
			<div class="price">$10-15<sup>/ dollars</sup></div>
			<!-- Lista de Caracteristicas / Propiedades -->
			<ul class="table-list">
				<li>option1<span>option2</span></li>
				<li>option1<span>option2</span></li>
				<li>option1<span>option2</span></li>
				<li>option1<span class="unlimited">option2</span></li>
				<li>option1<span class="unlimited">option2</span></li>
				<li>option1<span>option2</span></li>
			</ul>
			<!-- Contratar / Comprar -->
			<div class="table-buy">
				<p>$10-15<sup>/ dollars</sup></p>
				<a href="#" class="pricing-action">Get</a>
			</div>
		</div>
	</div>

 <div class="navigation">
      <a href="/"> Home Page </a>
      <a href="/signup"> Registration </a>
      <a href="/login">Login</a>
      <a href="/pricing"> Pricing Page </a>
      <a href="/features"> Features </a>
      <a href="/about"> About us </a>
 </div>



<div class='imgcontainer'>
    <p>We generate revenue using advertising, fee-for-service, and commission revenue model.</p>
</div>

  <footer>
  
      <p>Created by Ehsan Ziaei - April 2020</p>

  </footer>
