<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/navigation.css">
    <link rel="stylesheet" href="css/price_calc.css">
     <link rel="stylesheet" href="css/metric.css">
     <link rel="stylesheet" href="css/app.css">

     
</head>


<body>
    <div class="container">
        <div class="nav-wrapper">
            
            
        </div>
    </div>

    <div class="content-wrapper">
        <div class="two-column-wrapper">
           
            <div class="signup-form-wrapper">
                <form action="/signup" , method="POST">

                    <h1>Sign Up</h1>
                    <p class="prompt">Please fill in this form to create an account.</p>
                    <hr>

                    <div class="input-wrapper">
                        <label for="first_name"><b>First Name</b></label>
                        <input type="text" id="first_name" placeholder="Enter First Name" name="first_name" required>

                        <label for="last_name"><b>Last Name</b></label>
                        <input type="text" id="last_name" placeholder="Enter Last Name" name="last_name" required>

                        <label for="email"><b>Email</b></label>
                        <input type="email" id="email" placeholder="Enter Email" name="email" required>

                        <label for="Password"><b>Password</b></label>
                        <input type="password" id="password" placeholder="Enter Password" name="password" required>

                        <br><br>
                        <div class="button-wrapper">
                            <button type="submit" class="signupbtn">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>



  <div class="navigation">
      <a href="/"> Home Page </a>
      <a href="/signup"> Registration </a>
      <a href="/login">Login</a>
      <a href="/pricing"> Pricing Page </a>
      <a href="/features"> Features </a>
      <a href="/about"> About us </a>
 </div>



<div class='imgcontainer'>
    <p>We generate revenue using advertising, fee-for-service, and commission revenue model.</p>
</div>

  <footer>
  
      <p>Created by Ehsan Ziaei - April 2020</p>

  </footer>



</body>

</html