#popup {
    display: none;
    background: #efefef;
    border: 1px solid black;
    width: 50%;
    height: 400px;
    margin: auto;
}

#popup2 {
    display: none;
    background: #efefef;
    border: 1px solid black;
    width: 50%;
    margin: auto;
}

table,
td,
th {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 10px;
    line-height: 1.5;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: lime;
}